/* user_view_style.css */
.topnav {
  background: #393e46 ;
  overflow: hidden;
  margin-bottom: 20px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav button{
  float: left;
  background: #f96d00;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}



.movie_list_label{
font-family: Arial, sans-serif;
background-color:#393e46 ;
color: whitesmoke;
justify-content: center;
position: relative;
margin: 0 auto;
width: 500px;
text-align: center;
border-radius: 8px;

}
ul {
padding: 0;
display:flex;
flex-direction: rows;
}
li {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
margin-bottom: 10px;
padding: 15px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li:nth-child(even) {
background-color: #f9f9f9;
}

li strong {
color: #555;
}

li span {
display: block;
margin-top: 5px;
}
form.search_container_1{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.form-control_1{
  border-radius: 8px;
  border-color: #f96d00;




}
.form-control_2{
  border-radius: 8px;
  border-color: #f96d00;

}
.form-control_3{
  border-radius: 8px;
  border-color: #f96d00;

}



button.search_button_1{
  margin-left: 10px;
  background-color:#f96d00 ;
  border-radius: 8px;

}

form.search_container_2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom:10px ;


}

.form-control_2{
  border-radius: 8px;
  border-color: #f96d00;

}

button.search_button_2{
  margin-left: 10px;
  border-radius: 8px;
  background-color:#f96d00 ;

}
.movie_content{
  background-color: #393e46;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  color: #f4f4f9;
}

.movie_labels{
  padding: 20px;
  background-color: #393e46;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  border-radius: 8px;
  border-color: #f96d00;
}


.d-flex{
  padding:20px;
}

.btn.btn-secondary{
  background-color:#f96d00;
  color:whitesmoke ;
  padding: 20px;
  margin: 5px;
}
/*

button.save_button_1{
  background-color:#f96d00;
  color:whitesmoke ;
  border-radius: 8px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 90px;


}*/


.label4{
  border-radius: 8px;
  border-color: #f96d00;
}
.field1{
  display: flex;
  flex-direction: column;
}
.field2{
  display: flex;
  flex-direction: column;
}
.field3{
  display: flex;
  flex-direction: column;
}
.field4{
  display: flex;
  flex-direction: column;
}
.field5{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border-color: #f96d00;

}

.save_update_button{
  border-color: #f96d00;
  background-color: #f96d00;
  border-radius: 8px;
  width: 250px;
  margin-left: 25%;
  color: whitesmoke;
}




